In [78]:
import pandas as pd
import numpy as np
import csv
%matplotlib notebook
import matplotlib as ptl
ptl.get_backend()
import matplotlib.pyplot as plt

In [79]:
ls

combine_csvfiles.ipynb  D3R1_27_Mar_2018.csv  Dataset.ipynb
cv2_install_test.py     D3R2_27_Mar_2018.csv  destructive.ipynb
D1R1_19_Feb_2018.csv    data_12_mar_2018/     destructive.py
D2R1_12_Mar_2018.csv    data_19_22_feb_2018/  read_me_12_mar_2018.txt
D2R1_22_Feb_2018.csv    data_27_mar_2018/     read_me_19_22_feb_2018
D3R1_12_Mar_2018.csv    Data_in_out.csv       read_me_corn_27_mar_18.txt

In [81]:
D1=pd.read_csv("D1R1_19_Feb_2018.csv")
D2=pd.read_csv("D2R1_12_Mar_2018.csv")
D3=pd.read_csv("D2R1_22_Feb_2018.csv")
D4=pd.read_csv("D3R1_12_Mar_2018.csv")
D5=pd.read_csv("D3R1_27_Mar_2018.csv")
D6=pd.read_csv("D3R2_27_Mar_2018.csv")
D6.head()

,Unnamed: 0,400.35,402.00,403.64,405.29,406.93,408.58,410.22,411.86,413.51,...,994.18,995.67,997.16,998.65,DAS,Nitrogen,Carbon,CNRatio,Hydrogen,Water
0,R1,0.127460,0.127728,0.130296,0.133661,0.137744,0.141743,0.146961,0.153119,0.161489,...,0.696862,0.713127,0.699108,0.706018,122,1.36,38.520,28.323529,6.809,60.848132
1,R2,0.072772,0.073026,0.073124,0.075521,0.076688,0.078509,0.080558,0.084608,0.086718,...,0.556348,0.572271,0.561664,0.569444,122,1.36,38.520,28.323529,6.809,60.848132
2,R3,0.133247,0.133522,0.134763,0.136418,0.139216,0.140248,0.144879,0.148994,0.153425,...,0.677603,0.679204,0.674591,0.680556,122,1.36,38.520,28.323529,6.809,60.848132
3,R4,0.121494,0.123859,0.124169,0.127482,0.130655,0.133629,0.139205,0.142309,0.149250,...,0.722310,0.709265,0.718344,0.699174,122,2.06,42.207,20.488835,7.221,67.468246
4,R5,0.160416,0.160972,0.163248,0.165491,0.169468,0.170709,0.175909,0.180711,0.184662,...,0.767405,0.761182,0.751623,0.764463,122,2.06,42.207,20.488835,7.221,67.468246

In [83]:
print(D1.shape)
print(D2.shape)
print(D3.shape)
print(D4.shape)
print(D5.shape)
print(D6.shape)
# D3.head()

(36, 388)
(36, 388)
(36, 388)
(36, 388)
(36, 388)
(36, 388)

In [88]:
Data=pd.concat([D1,D2,D3,D4,D5,D6])
Data.shape
Data.head()

,Unnamed: 0,400.35,402.00,403.64,405.29,406.93,408.58,410.22,411.86,413.51,...,994.18,995.67,997.16,998.65,DAS,Nitrogen,Carbon,CNRatio,Hydrogen,Water
0,R1,0.111727,0.111040,0.112590,0.111976,0.112700,0.113385,0.113313,0.114760,0.114894,...,0.558114,0.580757,0.558623,0.578226,115,0.780,16.779,21.511538,8.059,58.54962
1,R2,0.114737,0.114983,0.115602,0.115359,0.116062,0.117156,0.116826,0.117120,0.118154,...,0.566155,0.590031,0.565053,0.588710,115,0.780,16.779,21.511538,8.059,58.54962
2,R3,0.074986,0.075108,0.075542,0.074989,0.076254,0.076076,0.076810,0.076963,0.077869,...,0.482091,0.502318,0.476551,0.504839,115,0.780,16.779,21.511538,8.059,58.54962
3,R4,0.072779,0.072999,0.073789,0.073996,0.073879,0.075426,0.077307,0.078901,0.081711,...,0.516594,0.511939,0.522693,0.510258,115,1.551,21.854,14.090264,3.188,66.87448
4,R5,0.127786,0.127896,0.128633,0.129318,0.129562,0.131645,0.133511,0.135433,0.138659,...,0.628066,0.615412,0.631997,0.618161,115,1.551,21.854,14.090264,3.188,66.87448

In [89]:
Data.to_csv('Data_in_out.csv', index=False)